{% extends 'base.html' %}

{% block head %}
<title>Wildfire Mapping</title>
{% endblock %}

{% block body %}

<div class="title_box">
    <h2> Wildfire Mapping</h2>
</div>

<div class="main_content">
    <div class="sidebar">
        <!-- <form action="{{url_for('search')}}" method="POST">
            <button type="submit">Search</button>
        </form>
    
        <form action="{{url_for('run_sim')}}" method="POST">
            
            <input type="submit" value="search">
        </form> -->
        
        <form class="search_bar" action="{{ url_for('search') }}" method="POST">
            <input type="text" name="search_term" placeholder="Search" required />
            <button type="submit">
                <i data-feather="search"></i>
            </button>
        </form>
        
        
        <div class="start-button">
            <button>
                <span>Start</span>
                <i data-feather="play"></i>
            </button>
        </div>
        
    </div>

    <div class="map_vew">
        <div id="map" >{{ iframe|safe }}</div>    
        <!-- <div class="button_container">
            <div class="zoom-in_button">
                <button>
                    <i data-feather="plus"></i>
                </button>
            </div>

            <div class="zoom-out_button">
                <button>
                    <i data-feather="minus"></i>
                </button>
            </div>

            <div class="map-pin_button">
                <button>
                    <i data-feather="map-pin"></i>
                </button>
            </div>
        </div> -->
    </div>

</div>
 
{% endblock %}
